/******************************************************************
Theme Name: FlexDev Theme
Description: Clean friendly flexible developer friendly theme
Version: 2016.1.1.0
Author: Creative Logic Web Development
Tags: core, developer, theme, flex
*******************************************************************/
div.gform_wrapper ul.gfield_checkbox li input[type=checkbox], div.gform_wrapper ul.gfield_radio li input[type=radio] {
    width: 30px !important;
    margin-top: 0;
}