/*-----------------------------------------------------------------
# MIXINS - VARIOUS
-----------------------------------------------------------------*/

// MIXIN: Flex Item Columns Helper -----------------
// modified from this article: http://fourkitchens.com/blog/article/responsive-multi-column-lists-flexbox
//
// SAMPLE USAGE:
// ---------------
// @include flex-item-columns('ModalMenu', 'ModalMenu-item', 280px, 20px, true, 3);
//
@mixin flex-item-columns($wrapper-class, $wrapper-item-class, $min-width, $gutter, $last-equal: false, $max-cols: 4) {
  .#{$wrapper-class} {
    clear: both; /*seems to be needed in case of floats before this */
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-top: -$gutter;
    .#{$wrapper-item-class} {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;
      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
          }
        }
        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
          min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}



// MIXIN: Flex Item Columns w/ Fixed Breakpoints  --------------------
// @author Trevor Robertson - http://creativelogic.biz
// 
// SAMPLE USAGE:
// ------------------
// .FooterColumns {
//   @include flex-one-quarter('FooterColumns-item');
// }
//

@mixin flex-one-quarter($flex-item-class) {
  @include im-media('>medium') {
    clear: both;
    display: flex;
    flex-wrap: wrap;
  }
  .#{$flex-item-class} {
    @include im-media('<=medium') {
      display: block;
      max-width: 360px;
      margin: 0 auto;
    }
    @include im-media('>medium', '<=large') {
      flex: 1 0 48%;
      margin-right: 2%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include im-media('>large') {
      flex: 1 0 22.5%;
      margin-right: 3.0%;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

@mixin flex-one-third($flex-item-class) {
  @include im-media('>medium') {
    clear: both;
    display: flex;
  }
  .#{$flex-item-class} {
    @include im-media('<=medium') {
      display: block;
      max-width: 360px;
      margin: 0 auto;
    }
    @include im-media('>medium') {
      flex: 1 0 30.5%;
      margin-right: 3.0%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

@mixin flex-one-half($flex-item-class) {
  @include im-media('>medium') {
    clear: both;
    display: flex;
  }
  .#{$flex-item-class} {
    @include im-media('<=medium') {
      display: block;
      max-width: 360px;
      margin: 0 auto;
    }
    @include im-media('>medium') {
      flex: 1 0 47.5%;
      margin-right: 3.0%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
