/*-----------------------------------------------------------------
# VARIABLES
-----------------------------------------------------------------*/

/*
* Here is where we declare all our variables like colors, fonts,
* base values, and defaults. We want to make sure this file ONLY
* contains variables.
*/

// == BREAKPOINTS ============================
// note: used for include-media mixin
$first-breakpoint-value: 400px; // small
$second-breakpoint-value: 768px; // medium
$third-breakpoint-value: 990px; // large


$bp-small: 400px; 
$bp-medium: 768px;
$bp-large: 990px;
$bp-xlarge: 1320px;


// == CONTENT WIDTH DIMENSIONS ============================
$max-width: 1170px;
$max-width-narrow: 800px;
$max-width-extra-narrow: 680px;



// == COLOURS ============================
$color-red-base:      #f44336;
$color-red-dark:        #6C0C0A;
$color-red-darkest:     #4c0100;

$color-blue-base:     #266885;
$color-blue-light:    #027AB2;

$color-green:           #69AAA4;

$color-gray-base:      #363839;
$color-gray-dark:      #282A2B;
$color-gray-border:     #4B4C4D;
$color-gray-light:      #f2f2f2;
$color-gray-mid:        #D8D8D8;

$color-black:         #141414;
$color-white:         #FFFFFF;

// assign colours to vars (per best practice: http://sachagreif.com/sass-color-variables/)
$alert-red:         $color-red-base;
$text-color:        $color-black;
$link-color:        $color-blue-light;
$link-hover:        darken($link-color, 9%);
$border-color:      rgba($color-black, 0.8);



// == TYPOGRAPHY ========================
// Base Font Setups
$base-font-weight: 400;
$base-font-size: 13px;
$base-line-height: 1.5;

// Fonts
$primary-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$secondary-font-family: "Lato", Times, serif;
// $third-font-family: "Source Sans Pro", sans-serif;


// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;



// == EFFECTS ========================
$transition-ease: all 333ms ease;
