/*-----------------------------------------------------------------
# ICONS
-----------------------------------------------------------------*/
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  .icon-home2 {
    width: 0.9287109375em;
  }
  
  .icon-phone {
    width: 0.7861328125em;
  }
  
  .icon-linkedin {
    width: 0.857421875em;
  }
  
  .icon-pinterest-p {
    width: 0.7138671875em;
  }
  
  .icon-vimeo {
    width: 1.0048828125em;
  }
  
  .icon-youtube {
    width: 0.857421875em;
  }
  
  .icon-facebook {
    width: 0.587890625em;
  }
  