// main logo  ----------------------------------------------- /
.SiteLogo {
  position: absolute;
  top:21px;
  a {
    display: inline-block;
  }
  img {
    display: block;
    width: 207px;
    height: 100%;
    @include im-media('>large') {
      width: 207px;
    }
  }
} // END SiteLogo --------
