// wp widget styles ----------------------------------------------- /
.widget {
  margin: 20px 0;
  padding: 0;
  &:first-of-type {
    margin-top: 0;
  }
}
.widget img {
  max-width: 100%;
  height: auto;
}
.widgettitle {
font-weight: 700;
font-size: 18px;
color: #fff;
margin-bottom: 20px;
}
