/*-----------------------------------------------------------------
# WEBSITE FOOTER
-----------------------------------------------------------------*/

// PAGE FOOTER STYLES ----------------------------------------------- /
.PageFooter {
  background: $color-gray-base;
  color: #fff;
}
.SiteCopyright {
  display: block;
  font-size: 14px;
}

.Footer-lower {
  background: $color-gray-dark;
  border-top: 1px solid #4B4C4D;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}

.Footer-upper {
  padding-top: 80px;
  padding-bottom: 60px;
}

.FooterColumn {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}