/*--------------------------------------------------------------
# GRIDS
--------------------------------------------------------------*/

// Wrapper that is flex friendly --------------------------------------
.SectionContainer {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}
