/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/

.PageHeader {
  height: 86px;
}

.PageHeader-top {
background: $color-black;
height: 40px;
color: #fff;
text-align: right;
font-size: 14px;
text-transform: uppercase;
padding-top: 10px;
padding-bottom: 10px;
 a {
  color: #fff;
 }
}

.PageHeader-main {
  background: $color-gray-base;
  height: 86px;
}

.NavSlant {
  right: 0;
  height: 86px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  background: #111111;
  text-transform: uppercase;
  padding: 0 12px 0 80px;
}

.NavSlant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 86px 40px 0 0;
  border-color: #363839 transparent transparent transparent;
  content: "";
  position: absolute;
  left: 0;
}