/*----------------------------------------------------------------*\
  #STRIPS
\*----------------------------------------------------------------*/

.Strip {
  position: relative;
  padding: 0 1rem;
  @include im-media('>xlarge') {
    padding: 0;
  }
}
