// WP CAPTIONS  ---------------------------------------------------/
.wp-caption {
  background-color: #EEE;
  max-width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
.wp-caption img {
  margin: 0;
  max-width: 100%;
}
.wp-caption .wp-caption-text {
  font-size: rem(14);
  line-height: 1.4;
  text-align: left;
  padding: 0.75rem 0.75rem;
  text-transform: uppercase;
}
