// VIDEO & EMBED CONTAINERS --------------------------------------------------- /

// .EntryContent video,
// .EntryContent object {
//   max-width: 100%;
//   height: auto;
// }
.EmbedContainer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.EmbedContainer iframe,
.EmbedContainer object,
.EmbedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 
