// WP MEDIA GALLERY STYLES ----------------------------------------------- /
figure.gallery-item {
  float: left;
  margin: 0 1em 1em 0;
  position: relative;
  a img {
    border: 4px solid #BBBBBB;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  a:hover img {
    border-color: #CCCCCC;
  }
}
figure.gallery-item figcaption {
  display: none;
}
