/*-----------------------------------------------------------------
# FORMS
-----------------------------------------------------------------*/


fieldset {
  border: none;
}

/*>== Reset for Use of Gravity Forms Styles ====================== */
.EntryContent .gform_wrapper, .gform_wrapper {
  ul {
    margin: 0;
  }
  li {
    padding-left: 0;
    text-indent: 0;
    &:before {
      content: "";
      display: none;
    }
  }
} // END RESET ----------------------------


/*
// FORM PLACEHOLDER STYLING
input::-webkit-input-placeholder { color: $color-white; }
input::-moz-placeholder { color: $color-white; opacity: 1; }
input:-ms-input-placeholder { color: $color-white; }
*/
