// LINK DEFAULT STYLES ----------------------------------------------- /
a, a:visited {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  transition: all 133ms ease-in;
}
a:hover { color: $link-hover; }

a, a:active, a:hover, a:visited { outline: medium none; }
a:link, a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
