/*-----------------------------------------------------------------
# MAIN MENU STYLES
-----------------------------------------------------------------*/

@include im-media('>large') { /*********************************************************/
  .MobileMenuWrap {
    // NOW HIDE THE MOBILE MENU
    display: none;
  }
  .MainMenuWrap {
    display: inline-block; // BRING IN THE FULL SIZE MENU
    position: absolute;
    top: 0;
    right: 0;
  }
  .MainMenu {
    background-color: transparent;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .MainMenu > li {
    display: inline-block;
    margin: 0;
    position: relative;
    white-space: nowrap;
    a {
     color: #fff;
     display: inline-block;
     font-size: 15px;
     text-transform: uppercase;
     margin: 0;
     padding: 31px 1rem;
    }
    &:first-of-type > a {
      padding-left: 0;
    }
    &:last-of-type > a {
      padding-right: 0;
    }
  }
  .MainMenu > li > a:hover {
    color: $color-red-base;
  }
  .MainMenu > .current-menu-item > a,
  .MainMenu > .current_page_item > a,
  .MainMenu > .current_page_parent > a,
  .MainMenu > .current_page_ancestor > a {
    color: $color-red-base;
  }


  // main nav - drop down styles ----------------------------------------------- /
  .MainMenu li:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .MainMenu ul {
    background-color: rgba(37,42,48,0.99);
    border-top: 3px solid $color-red-base;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms linear;
    z-index: 150;
  }
  .MainMenu ul li {
    float: none;
    position: relative;
    max-height: 0;
    transition: max-height 400ms linear;
    overflow: hidden;
  }
    .MainMenu li:hover ul li {
      max-height: 140px;
    }
  .MainMenu ul li a {
    color: #ffffff;
    font-size: 14px;
    padding: 10px 16px;
    width: 100%;
    display: block;
    transition: none;
  }
  .MainMenu ul li a:hover,
  .MainMenu ul .current-menu-item > a,
  .MainMenu ul .current-menu-parent > a,
  .MainMenu ul .current_page_item > a,
  .MainMenu ul .current_page_parent > a,
  .MainMenu ul .current_page_ancestor > a {
    background: $color-red-base;
  }
  // end main nav - drop down styles ----------



} // end MAIN NAV breakpoint - large *********************************


/* ==========================================================================
   MAIN NAVIGATION AND MENU STYLES
   ========================================================================== */

// ++ hide main-navigation wrapper (responsive first) +++++++++++++++++++++++++++++++++
.c-main-navigation {
  display: none;
} 

// ++ show main navigation wrapper when the time is right ++++++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-navigation {
    /* DISPLAY FULL SIZE MENU */
    display: block;
    // padding-left: 100px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100; 
  }
}



// ++ menu styles (top level) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-menu {
    display: inline-flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
  }
  .c-main-menu > li {
    margin: 0;
    line-height: 1;
    position: relative;
    white-space: nowrap;
  }
  .c-main-menu > li > a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    padding: 35px 1rem;
    margin-right: 8px;
    @media(width >= 1110px) {
      margin-right: 20px;
    } 
    &:first-of-type > a {
      padding-left: 0;
    }
    &:last-of-type > a {
      padding-right: 0;
      margin-right: 0;
    }
  }
  .c-main-menu > li > a:hover {
    color: #f4f4f4;
  }
  .c-main-menu > .current-menu-item > a,
  .c-main-menu > .current-page-ancestor > a,
  .c-main-menu > .current_page_item > a,
  .c-main-menu > .current_page_parent > a,
  .c-main-menu > .current_page_ancestor > a {
    color: #f4f4f4;
  }
}
// END menu top level



// ++ menu style (drop down!) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-menu li:hover ul, 
  .c-main-menu li.focus ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .c-main-menu ul {
    background-color: #363839;
    position: absolute;
    // top: 30px;
    // min-width: 180px;
    margin: 0;
    padding: 0; 
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
    z-index: z(dropdown);
  }
  .c-main-menu ul li {
    position: relative;
    max-height: 0;
    transition: max-height 300ms linear;
    overflow: hidden;
    border-bottom: 1px solid #222;
  }
  .c-main-menu li:hover ul li,
  .c-main-menu li.focus ul li {
    max-height: 140px;
  }
  .c-main-menu ul li a {
    color: #ffffff;
    font-size: 0.938rem;
    padding: 15px 1rem;
    width: 100%;
    display: block;
    transition: $transition-ease;
  }
  .c-main-menu ul li a:hover,
  .c-main-menu ul .current-menu-item > a,
  .c-main-menu ul .current-menu-parent > a,
  .c-main-menu ul .current_page_item > a,
  .c-main-menu ul .current_page_parent > a,
  .c-main-menu ul .current_page_ancestor > a {
    background-color: #111111;
  }
}
// END drop down styling
 