/*-----------------------------------------------------------------
# MODAL MENU STYLES
-----------------------------------------------------------------*/

.MainMenuWrap {
// HIDE FULL SIZE MENU
  display: none;
}
.ModalMenuButton {
  position: absolute;
  right: 0;
  top: 28px;
  text-transform: uppercase;
  color: #fff;
  z-index: 100;
  position: absolute;
  margin-right: 39px;
  @include im-media('>large') {
    display: none;
  }
  svg {
    color: #fff;
    font-size: 27px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
  }
}

.CloseModalNavButton {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  color:  #fff;
  background:  $color-gray-base;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalNavWrap {
  text-align: center;
  padding-left: 60px;
}

.ModalContactBlocks {
  position: absolute;
  background: $color-gray-base;
  left: 0;
  height: 100%;
  top:0;
  width: 60px;
  ul {
    margin: 0;
  }
}

.ModalContactBlock {
  border-bottom: 1px solid $color-gray-border;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #fff !important;
  }
  svg {
    font-size: 24px;
  }
}

.MobileMenuLogo {
  width: 150px;
  margin-top: 20px;
}

.MobileMenu > li {
  position: relative;

}

.MobileMenu {
  margin-top: 50px;
  li {
    margin-bottom: 20px;
    a {
      color: #fff;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.MobileMenu ul.SubMenu {
  display: none;
  margin-top: 11px;
  margin-bottom: 0;
  background: $color-gray-border;
  padding: 15px 0;
  li {
    transition: $transition-ease;
    position: relative;
    margin-bottom: 8px;
    &:hover {

    }
    &:last-of-type {
      border-bottom: 0;
    }
    a {
      font-size: 13px;
      padding: 0;
      @include im-media('>295px') {
        font-size: 15px;
      }
      @include im-media('>482px') {
        font-size: 18px;
      }
    }
  }

  &.is-selected {
    display: block;
  }
}


.ExpandMenuBtn {
  position: absolute;
  right: 10px;
  top: 0;
  width: 50px;
  height: 30px;
  display: block;
  z-index: 1000;
  cursor: pointer;
  color: #fff;
  font-size: 20px;


  span {
      transition: $transition-ease;
      display: block;
      color: #fff;
      line-height: 30px;
      &:after {
        content: '>';
        color: #fff;
      }
  }
  &.activeArrow {
    border-bottom: 0;
  }
  &.activeArrow span {
    transform: rotate(90deg);
  }
}
