// TERTIARY MENU STYLES ----------------------------------------------- /

@include im-media('>large') { /*********************************************************/
  .TertiaryMenu {
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      &:first-of-type::before {
        display: none;
      }
      &::before {
        color: #717171;
        content: "|";
        font-size: 1rem;
        padding-right: 0.3rem;
        vertical-align: 1px;
      }
      a {
        padding: 0.5rem 0.3rem;
      }
    }
  }

} // end TERTIARY NAV breakpoint - large **********************
