/*-----------------------------------------------------------------
# PAGINATION STLYING
-----------------------------------------------------------------*/

// POST NAVIGATION ----------------------------------------------- /
.PostNav {
  clear: both;
  list-style: none;
  margin: 20px 0 20px 0;
  .PostNav-prev {
    float: left;
    width: 49%;
  }
  .PostNav-next {
    float: right;
    width: 49%;
    text-align: right;
  }
  .nav-divider {
    float: left;
  }
}


// COMMENT NAVIGATION ----------------------------------------------- /
// .comment-navigation {
//   clear: both;
//   margin: 20px 0 20px 0;
// }
// .comment-nav-prev {
//   float: left;
//   width: 50%;
// }
// .comment-nav-next {
//   float: right;
//   width: 50%;
//   text-align: right;
// }
