// PARAGRAPH DEFAULT STYLES ----------------------------------------------- /
p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 0 1rem 0;
  padding: 0;
}
  /*p*/.FeaturedText {
    font-size: rem(18);
    margin-bottom: 1.25rem;
    line-height: 1.4;
    color: #FFCC00;
    font-weight: 700;
  }
