// HEADING STYLES ----------------------------------------------- /

//
h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: $text-color;
  font-weight: 300;
  font-family: $secondary-font-family;
}
h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
}

h1, .h1-style {
  font-size: 2.8125rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0;
}
h2, .h2-style {
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 0 0 0.8rem;
  padding: 0;
  text-transform: uppercase; 
}
h3, .h3-style {
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 0 0 0.8rem;
  padding: 0; 
  text-transform: uppercase;
}
h4, .h4-style {
  font-size: 1.8125rem;
  line-height: 1.35;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
  padding: 0;
}
h5, .h5-style {
  font-size: 1.375rem;
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}
h6, .h6-style {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}
