/*-----------------------------------------------------------------
# TYPOGRAPHY SETUP
-----------------------------------------------------------------*/

// responsive layout and typography setup using px -> rem -> em philosophy ******************
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}
@media screen and (min-width: 481px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 990px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1220px) {
  html {
    font-size: 16px;
  }
}
/* end responsive layout / typography */

body,
button,
input,
select,
textarea {
  color: $text-color;
  font-family: $primary-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
